# Python internals
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.venv/
venv/

# Project Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment & Keys
.venv/
venv/
env/
.env
.DS_Store
__pycache__/

# Large Binary Files
*.npy
*.pth
*.csv

# Logs
*.log